body {
    background-image: url('../src/images/Beers_Background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgba(12, 8, 5, 0.9);
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 50px;
}
.logo {
    height: 100px;
    width: 100px;
}
.homeLogoContainer {
    display: flex;
    align-items: center;
}

.homeLogoContainer:hover, .menu-button:hover , .about-button:hover {
    cursor: pointer;
    color: rgba(240, 225, 214, 0.8);
}

.homeLogoContainer, .menu-button, .about-button {
    color: white;
}

#landing-info {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 30vh;
    background-color: rgba(12, 8, 5, 0.9);
    text-align: center;
    font-size: 40px;
    bottom: 20px;
    border-radius: 8px;
}

#menu {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 80vh;
    background-color: rgba(12, 8, 5, 0.9);
    text-align: center;
    font-size: 40px;
    bottom: 20px;
    border-radius: 8px;
}
#landing-info h1 {
    font-size: 80px;
    color: white;
}

#landing-info p {
    color: white;
}

